<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='pico.min.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <title>海浪留言板</title>

</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li><strong><a href="/">海浪留言板</a></strong></li>
        </ul>
        <ul>
            {% if not current_user.is_authenticated %}
                <li><a href="/login">Login</a></li>
            {% else %}
                <li><a href="/logout">Logout</a></li>
            {% endif %}

        </ul>
    </nav>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}

    {% block content %} {% endblock %}

</div>
</body>
{#<script>#}
{#    setInterval(()=>{#}
{#        window.location.reload()#}
{#    },1000)#}
{#</script>#}
</html>